.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.navbar {
  background-color: #ad20d9;
  color: white;
}

#navbarNavAltMarkup {
  color: white;
}

.button {
  background-color: #ad20d9;
  color: white;
}

Link {
  color: white;
}

.Headers {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  color: #ad20d9;
}